<html>
<body>
<h2 style="color: #1f9991">Здравствуйте, {{.Username}}!</h2>
Вы получили это письмо, поскольку был сделан запрос на сброс пароля в приложении ЖК Династия.
<br/>
Чтобы сбросить пароль Вашей учетной записи, необходимо ввести этот код в приложении (код действителен 3 часа):
<br/><br/>
<h3><b>{{.RecoveryCode}}</b></h3>
<br/><br/>
Если Вы не сбрасывали пароль - просто проигнорируйте это письмо.
<br/>

Данное письмо сгенерировано автоматически. Пожалуйста, не отвечайте на него!
</body>
</html>